body{
    font: 90px;
    
}

.navbar {
    background-color: #8A0829;
    color: beige;
}
.quem-somos {
    background-color: rgb(186, 135, 216);
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;

}

.parceiros {
    background-color:#F6CEF5;
}

.bg-footer {
    background-color: black;
    color: beige;
}